



.content { 
background: url("widedd.jpg");

background-repeat: no-repeat;

background-attachment: fixed;
background-size: cover;
 
 }
 .para {
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 100px;
 	width: 8em;
 	font-size:80px;
 	color: white ; 
 }
 
.flex {
	display: flex;
	justify-content: space-evenly ;
	align-items: baseline;
	


}
.flex div {
    
    width: 100px;
    height: 60px;
    color: white ;
    font-size: 20px;

     


}
.flex div:nth-child(1) {
    flex-grow: 1;
    font-size: 50px;
	font-family: cursive; ;
	float: right;
	color: purple ;
	margin-left: 30px;
	text-shadow: 2px 3px;

}

.header-title {
	font-size: 50px;
	font-family: verdana;
	float: right; 
}
.button {
	display: block;
	border-radius: 50%;
	color: white ;
	background-color: purple; 
	padding:  25px 14px;
	font-size: 38px;
	width: 120px;
	height: 70px;
	margin-right: auto ;
    margin-left: auto;
    cursor: pointer; 
    box-shadow: 0 10px #999;
}








#footer {
	
	background:#ff7f50; 
	padding: 30px;
}